@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-primary-rgb: var(--primary);
}

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Main Color */
  --primary: 102, 178, 153; /* #66B299 */
  --secondary: 166, 216, 190; /* #A6D8BE */

  /* Text Color */
  --tx-main: #222;
  --tx-sub: #666;
  --tx-disable: #e5e5e5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html.light {
  --background: #ffffff;
  --foreground: #171717;
}

html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.body-container {
  flex: 1;
  height: 100%;
}

.footer {
  height: 70px;
  background-color: rgba(var(--primary), 0.25);
}

html.light .footer {
  background-color: rgba(var(--primary), 0.25);
}

html.dark .footer {
  background-color: rgba(102, 178, 153, 0.5); /* #66B299 with 50% opacity */
}
